{{#link-to 'index'}}All Projects{{/link-to}}
<h2>Source code tree of: {{name}} as
  {{#if showTree}}Tree.{{else}}Force directed graph.{{/if}}
</h2>
<button {{action 'toggleVisType'}}>Toggle Chart</button>
<div class="vis">
  <div {{bind-attr class="showTree::off"}}>
    {{d3-tree data=d3TreeData clickedDir="expandDir" clickedFile="showFile"}}
  </div>
  <div {{bind-attr class="showTree:off"}}>
    {{d3-force-tree data=d3ForceTreeData clickedDir="expandDir" clickedFile="showFile"}}
  </div>
</div>

<div class="view-content">
  <div class="file left">
    <div class="name">
      {{selectedFileOneName}}
    </div>
    <div class="source">
      <pre><code class="hljs javascript">
        {{{selectedFileOneContent}}}
      </code></pre>
    </div>
  </div>

  <div class="file right">
    <div class="name">
      {{selectedFileTwoName}}
    </div>
    <div class="source">
      <pre><code class="hljs javascript">
        {{{selectedFileTwoContent}}}
      </code></pre>
    </div>
  </div>
</div>
